html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: url("../images/background.jpg") repeat;
}

nav {
    height: 60px;
    background-color: rgb(8, 76, 102);
    color: lavender;
    line-height: 50px;
    padding: 10px 40px;
}

nav span {
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
}

#full-content {
    width: 100%;
    display: block;
    overflow: auto;
    height: auto;
    padding-bottom: 60px;
}

.board {
    padding: 20px;
}

.board-header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    height: 60px;
    border-bottom: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.board-title {
    float: left;
}

.fa-caret-up {
    float: right;
    font-size: 2em;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    cursor: pointer;
}

.board-body {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    height: auto;
    border-top: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.board-data {
    border-spacing: 0;
    border-top: 1px solid black;
}

.board-data th, .board-data td {
    padding: 20px;
    width: 25vw;
    border-collapse: collapse;
}

.board-data th {
    border-bottom: 1px solid black;
}

.board-data td, .board-data th {
    border-right: 1px solid black;
}

.board-data td:last-child, .board-data th:last-child {
    border-right: none;
}

.card {
    width: 200px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px dotted black;
    background-color: rgba(215, 240, 244, 0.9);
}

.card p {
    margin: 0;
    padding: 5px;
}

.card p:nth-child(2) {
    text-align: right;
}

@-webkit-keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.fa-trash-alt {
    cursor: pointer;
    font-size: 16px;
    color: rgb(8, 76, 102);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fa-trash-alt:hover {
    color: rgb(191, 22, 13);
    -webkit-animation-name: hvr-icon-pop;
    animation-name: hvr-icon-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

button {
    margin-left: 20px;
    padding: 5px 20px;
    background: rgb(8, 76, 102);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:hover {
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

nav #new-board-button, #new-private-board-button, #registration, #login, #logout, #submitButton {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: inline-block;
    border: 1px solid #fff;
    float: right;
    top: 5px;
    padding: 5px 20px;
    line-height: 20px;
}

#new-board-button::before, #new-private-board-button::before, #registration::before,
#login::before, #logout::before, #submitButton::before {
    content: "";
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(26, 136, 153);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#new-board-button:hover::before, #new-private-board-button:hover::before, #registration:hover::before,
#login:hover::before, #logout:hover::before, #submitButton:hover::before {
    border-radius: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.new-card-button, .delete-board-button {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.new-card-button:hover, .delete-board-button:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: white;
}

@-webkit-keyframes new-card-button {
    50% {
        background-color: rgba(24, 160, 30, 0.60);
    }
}

@keyframes new-card-button {
    50% {
        background-color: rgba(24, 160, 30, 0.60);
    }
}

.new-card-button:hover {
    -webkit-animation-name: new-card-button;
    animation-name: new-card-button;
    background-color: #18a01e;
}

@-webkit-keyframes delete-board-button {
    50% {
        background-color: rgba(191, 22, 13, 0.60);
    }
}

@keyframes delete-board-button {
    50% {
        background-color: rgba(191, 22, 13, 0.60);
    }
}

.delete-board-button:hover {
    -webkit-animation-name: delete-board-button;
    animation-name: delete-board-button;
    background-color: #bf160d;
}

.fa-caret-up {
    float: right;
    font-size: 2em;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    cursor: pointer;
}

.card p {
    margin: 0;
    padding: 5px;
}

.card p:nth-child(2) {
    text-align: right;
}

.fa-trash-alt {
    cursor: pointer;
    font-size: 16px;
}

.board-title {
    float: left;
}

.board-footer {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.board-footer p {
    margin: 0;
    line-height: 20px;
    padding: 20px 15px;
    font-size: 14px;
}

.board-footer .fa-unlock-alt, .board-footer .fa-lock {
    font-size: 16px;
    padding-right: 5px;
    color: rgb(8, 76, 102);
}

#modal {
    background: url("../images/background.jpg") repeat;
}

.modal-header {
    background-color: rgb(8, 76, 102);
}

.modal-header button #close-x {
    color: lavender;
    font-size: 40px;
}

#modal-title {
    font-family: 'Fredericka the Great', cursive;
    color: lavender;
    font-size: 35px;
}

.modal-body {
    padding-top: 40px;
    text-align: center;
    color: rgb(8, 76, 102);
    background-color: lavender;
}

.modal-body label {
    font-weight: bold;
}

#submitButton {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 25px;
}

.modal-footer {
    background-color: lavender;
    border-top: 6px double rgb(8, 76, 102) !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(8, 76, 102);
    color: lavender;
    line-height: 40px;
    padding: 10px;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}